.display-post-form {
    width: 60vw;
    margin: auto;
    margin-top: 2rem;
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(153,151,151);
    box-shadow: 8px 6px 14 px grey;
}